#wrapper{
	width:960px;
	background-repeat: no-repeat;
  background: linear-gradient(#FFFFC8 0,#FFDB98 100%) fixed;
	margin-left: auto;
	margin-right: auto;
}
#wrapper > *{
	width:100%;
}


nav#navigation-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav#navigation-bar ul li{
	float: left;
	margin: 1em;
}
nav#navigation-bar ul li a{
	display: block;
	text-decoration: none;
	background-color: orange;
	color: white;
	text-align: center;
	padding: 0.5em;
}
nav#navigation-bar ul li a:hover{
	border-radius: 0.25em;
	background-color: red;
}

#resume {
	font-family: lucida sans typewriter, courier new, monospace;
	position: relative;
	clear: both;
}


.education{
	font-family: 'Patua One', century gothic, cursive;
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#college{
	position: absolute;
	border:dashed 1px grey;
	width:100%;
	height: 100%;
}
#high-school{
	position: absolute;
	right: 0;
	border:dashed 1px red;
	width:100%;
	height:100%;
}


.experience{
	position: relative;
	background-color: #E8FF99;
}
	
	
.official{
	font-family: 'Special Elite', courier new, monospace;
	text-align: center;
}
.handwriting{
	font-family: 'Gloria Hallelujah', courier new, cursive;
}

.data, data>*{
	border: solid 1px purple;
}

#set-right{
	float: right;
}