/*reused*/
#wrapper{
	width:960px;
	background-repeat: no-repeat;
  background: linear-gradient(#FFFFC8 0,#FFDB98 100%) fixed;
	margin-left: auto;
	margin-right: auto;
	overflow: hidden;
}


/*reused*/
nav#navigation-bar ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav#navigation-bar ul li{
	float: left;
	margin: 1em;
}
nav#navigation-bar ul li a{
	display: block;
	text-decoration: none;
	background-color: orange;
	color: white;
	text-align: center;
	padding: 0.5em;
}
nav#navigation-bar ul li a:hover{
	border-radius: 0.25em;
	background-color: red;
}

#resume {
	font-family: lucida sans typewriter, courier new, monospace;
	position: relative;
	clear: both;
}


.education{
	font-family: 'Patua One', century gothic, cursive;
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	
}
#college{
	position: relative;
	border:dashed 1px grey;
}
#high-school{
	position: relative;
	right: 0;
	border:dashed 1px red;
}


.experience{
	position: relative;
	background-color: #E8FF99;
}
	
/*reused*/	
.official{
	font-family: 'Special Elite', courier new, monospace;
	text-align: center;
}
/*reused*/
.handwriting{
	font-family: 'Gloria Hallelujah', courier new, cursive;
	text-align: center;
	color: navy;
}

/*reused*/
#data{
	border: solid 1px purple;
	margin-left: auto;
	margin-right: auto;
}
/*reused*/
.block{
	float: none;
	background-color: #007849;
	color: white;
	padding: 2em;
	width: 100%;
}

#dog{
	padding: 2em;
	margin:auto;
	border: dotted orange 3px;
}
#moving{
	padding: 1em;
	margin: auto;
	border: solid green 2px;
}
#music{
	padding: 0.5em;
	margin: auto;
	border: dashed violet 1px;
}

#image-break{
	position: relative;
	width: 100%;
	height: 70px;
	padding: 0.2em;
	background-color: purple;
	border: solid cyan 5px;
}
#image-break-cap{
	font-color: orange;
	font-size: 10em;
	text-align: center;
}


#set-right{
	float: right;
	font-size: 1.5em;
	font-family: goudy old style, arial black, sans-serif;
}

.movie{
	 width: 800;
	 height: 400;
}

.idea{
	margin-left: auto;
	margin-right: auto;
	color: brown;
	background-color: white;
	padding: 1em;
	border-radius: 5em;
}

nav#links ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}
nav#links ul li{
	float: right;
	margin: 1em;
	font-size: 2em;
}
nav#links ul li a{
	display: block;
	text-decoration: none;
	background-color: violet;
	color: white;
	text-align: center;
	padding: 0.5em;
	border-radius: 1em;
}
nav#links ul li a:hover{
	border-radius: 0;
	background-color: blue;
}

#thank-you{
	font-size: 10em;
	width: 100%;
	text-align: center;
	font-weight: 400;
}