@media screen and (max-device-width: 480px) and (orientation: portrait) {
	#wrapper{
		width: 100%;
		background-repeat: no-repeat;
		background: linear-gradient(#FFFFC8 0,#FF8E00 100%) fixed;
		margin-left: auto;
		margin-right: auto;
	}
	th, td {
		font-size: 1.5rem;
	}
	#dottedBox{
		position: relative;
		border:dashed 1px black;
		margin-bottom: 1rem;
		margin-top: 1rem;
		margin-left: auto;
		margin-right: auto;
		padding: 0.5rem;
		width: 95%;
	}
	.defaultDiv{
		position: relative;
		margin: 1rem;
		padding: 1rem;
		background-color: rgba(240, 0, 0, 0.3);
	}
@media screen and (min-width: 1024px) {
	#wrapper{
		width:960px;
		background-repeat: no-repeat;
		background: linear-gradient(#FFFFC8 0,#FF8E00 100%) fixed;
		margin-left: auto;
		margin-right: auto;
	}
	nav ul {
		clear: both;
		list-style-type: none;
		margin: 0 auto;
		padding: 0;
		overflow: hidden;
		text-align: center;
	}
	nav ul li{
		display: inline;
	}
	nav ul li a{
		margin-top: 1rem;
		display: inline-block;
		text-decoration: none;
		background-color: orange;
		color: white;
		text-align: center;
		padding: 0.5em;
	}
	nav ul li a:hover{
		border-radius: 0.25em;
		background-color: red;
	}
	#resume {
		font-family: 'lucida sans typewriter', 'courier new', monospace;
		position: relative;
		text-align: center;
		clear: both;
	}
	.heavySharp{
		text-align: center;
		font-family: 'Patua One', 'century gothic', cursive;
		position: relative;
		width: 100%;
		margin-left: auto;
		margin-right: auto;
	}
	#dottedBox{
		position: relative;
		border:dashed 1px grey;
		margin-bottom: 1rem;
		margin-top: 1rem;
		margin-left: auto;
		margin-right: auto;
		padding: 1rem;
		width: 95%;
	}
	.defaultDiv{
		position: relative;
		margin: 1rem;
	}
	.official{
		font-family: 'Special Elite', 'courier new', monospace;
		font-size: 3rem;
		text-align: center;
	}
	table{
		margin: 0 auto;
	}
	.block{
		position: fixed;
		background-color: #007849;
		color: white;
		padding: 1em;
		width: 7%;
		margin-left: -10rem;
	}
	.block li {
		margin-left: -1rem;
	}
}