#wrapper{
	width:960px;
	background-repeat: no-repeat;
  background: linear-gradient(#FFFFC8 0,#FFDB98 100%) fixed;
	margin-left: auto;
	margin-right: auto;
}
#wrapper > *{
	width:100%;
}


#navigation-bar{
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: relative;
}
#navigation-item{
	float: left;
	padding: 0.5em;
}
#navigation-item a{
	display: block;
	text-decoration: none;
	background-color: grey;
	text-align: center;
}
#navigation-item a:hover{
	border-radius: 0.25em;
	background-color: red;
}
#resume {
	font-family: lucida sans typewriter, courier new, monospace;
	position: relative;
}


.education{
	font-family: 'Patua One', century gothic, cursive;
	position: relative;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
}
#college{
	position: absolute;
	border:dashed 1px grey;
}
#high-school{
	position: absolute;
	right: 0;
	border:dashed 1px red;
}


.experience{
	position: relative;
	color: #E8FF99;
}
	
	
.official{
	font-family: 'Special Elite', courier new, monospace;
	text-align: center;
}
.handwriting{
	font-family: 'Gloria Hallelujah', courier new, cursive;
}

.data, data>*{
	border: solid 1px purple;
}

#set-right{
	float: right;
}